.button:hover{
	-fx-effect: innershadow(gaussian, goldenrod, 10, 0, 0, 0);
	-fx-cursor: hand;
}

.button:pressed {
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;

}

#back {
	-fx-background-image: url("./StartingImg.jpg");
}


