.checkNUM{
    -fx-background-color:#ed1212;
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-font-size: 2em;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}


.chekkato{
    -fx-background-color:#09edcb;
    -fx-background-radius: 5,5,4;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-font-size: 1.6em;
    -fx-text-fill: #000000;
    -fx-text-alignment: center;
}

.labeldef {
    -fx-text-alignment: center;
    -fx-padding: 10px;
    -fx-font-size: 0.75em;
}

.extracted {
    -fx-background-color: #dd0000;
}

.button:hover{
    -fx-cursor: hand;
}